<div class="show_lesson">
  <h4><%= @category.name %></h4>
  <hr>
  <div class="show_result">kết quả <%= @lesson.result %>/20</div>
  <div class="show_word">
    <% @lesson.lesson_words.each do |lesson_word| %>
      <%= lesson_word.word.content.html_safe %>
        <% lesson_word.word.word_answers.each do |word_answer| %>
          <div class="show_answer">
              <%= word_answer.content.html_safe  %>
              <% if word_answer.correct == true %>
                <span class="correct_true" ><i class="fas fa-check"></i></span>
              <% end %>
              <% if lesson_word.word_answer_id == word_answer.id %>
                <% if lesson_word.word_answer_id =! word_answer.correct == true %>
                  <span class="correct_false"><i class="fas fa-times"></i></span>
                <% end %>
              <% end %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
