
<hr/>
<%= form_with model: @category, url: admin_categories_path, method: :post do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %><br>

    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
