.header-background{
  background-color: #013a66;
  height: 80px;
}

.w-100 {
    width: 100%!important;
    margin-top: -1px;
}

.header-logo{
  font-weight: bold;
  font-size: 25px;
  word-spacing: 30px;
  width: 44px;
  letter-spacing: 3px;
  color: #ffffff;
  transition: width 0.75s;
  transition-timing-function: linear;
  overflow: hidden;
  text-overflow: "----";
  &:hover{
    width: 180px;
    color: rgb(190, 34, 34);
  }
}

.btn-search {
  color:#fff;
  background-color: #013a66;
  padding: 0 10px;
  border-radius: 5px;
  border-color: #fff;
  &:hover {
    background-color: rgb(207, 40, 40);
  }
}

.li-link a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  &:hover {
    color: rgb(173, 173, 173);
  }
}

.navbar-brand {
  margin-left: 50px;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-expand-lg .navbar-collapse{
  padding: 0 110px;
}
.search form{
  position: relative;
  height: 35px;
  display: flex;
  justify-content: center;
  right: 20px;
  input{
    margin-left: 10px;
  }
}

//slide home
.carousel-inner .active h4{
  margin-bottom: 20px;
}

//slide home
.carousel-inner .active h4{
  margin-bottom: 20px;
}

//modal log in
.menu-modal{
  margin-left: 20px;
  border-radius: 5px;
  padding: 4px 20px;
  border: 1px solid #ffffff;
  color: #ffff;
  background-color: #013a66 ;
  &:hover{
    background: #198754;
    color: white;
  }
}

.form_login-modal{
  top: 51px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
}

.social-buttons {
  padding: 9px;
  display: flex;
  justify-content: space-between;
}
.social-buttons .facebook {
  width: 49%;
  border: solid 1px;
  border-radius: 5px;
  padding: 8px 5px;
  font-size: 18px;
  background-color: #395697;
  text-align: center;
  &:hover{
    transform: scale(1.03);
  }
}
.social-buttons .facebook-content {
    color: #fff;
    font-size: 18px;
    padding: 6px 10px;
    text-decoration: none
}
.social-buttons .google{
  width: 49%;
  padding: 8px 5px;
  font-size: 18px;
  background-color:#d63384;
  text-align: center;
  border: solid 1px;
  border-radius: 5px;
   &:hover{
    transform: scale(1.03);
  }
}
.social-buttons .google-content{
  font-size: 18px;
  padding: 6px 10px;
  text-decoration: none;
  color: #fff;
}

.modal-title h4{
  color: red;
}

.form-group {
  margin-bottom: 15px;
}
.form-group .submit_login{
  width: 100%;
  &:hover{
    background-color: rgb(211, 51, 51);
    color: #fff;
  }
}

.log_out{
  list-style: none;
  margin-left: 12px;
}

.log_out a{
  display: flex;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffff;
  padding: 4px 8px;
  &:hover{
    background: #198754;
    color: white;
  }
}
.log_uotiiii a{
  margin-left: 12px;
  border-radius: 5px;

}

.dropdown-box{
  background-color: rgb(82, 94, 58);
}

//msrh content
.wrapper_mrh{
  width: 100%;
}

.wrapper_mrh .mrh_content{
  width: 960px;
  position: relative;
  margin: 34px auto;
}

.mrh_content .ladi_image{
  margin-bottom: 0;
}

.mrh_content .ladi_image .ladi_image_child{
  background-color: #003359;
  width: 368px;
  height: 502.17px;
  position: absolute;
  left: 700px;
  top: -50px;
  background-image: url(http://ezi.edu.vn/wp-content/uploads/2018/07/sss-1.png);
  background-size: cover;
}

.wrapper_mrh .ladi_paragraph{
  width: 404px;
  top: 59.0156px;
  left: 0px;
  margin-top: 50px;
}

.wrapper_mrh .ladi_hr{
  position: absolute;
  width: 40%;
  height: 1.2%;
  overflow: hidden;
  background-color: rgb(232, 60, 48);
  top: 79px;
}

.mrh_content .ladi-group {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 70px;
}

.mrh_content .ladi-element{
  position: relative;
  width: 235px;
  top: 30.4583px;
  left: 0px;
}

.mrh_content .ladi-element p{
  margin-top: 50px;
  margin-bottom: 40px;
}

.mrh_content .ladi-element h5{
  width: 100%;
  display: inline-block;
  background-size: cover;
  background-position: center center;
  position: absolute;
  width: 154px;
  top: -165px;
  left: 0px;
}

.mrh_content #HEADLINE263{
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-style: italic;
  line-height: 1.2;
  position: relative;
  left: 400px;
  width: 280px;
  top: -115px;
}



.mrh_content #PARAGRAPH259{
  position:absolute;
  left: 400px;
  width: 270px;
  top: 178px;
}

.mrh_content #HEADLINE260{
  position:relative;
  left: 400px;
  top: -134px;
}

.mrh_content #BUTTON262{
  width: 254px;
  height: 52px;
}

.mrh_content .ladi-button{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 400px;
  top: -200px;
}

.mrh_content .ladi-button #BUTTON_TEXT262{
  width: 100%;
  background-color: rgb(245, 17, 44);
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  p{
    padding: 14px;
    padding-left: 20px;
  }
}

//contenner
.contenner-courses{
  width: 100%;
}
.contenner-courses .text-courses{
  text-align: center;
  padding: 10px  0;
  color: #003359;
}
.contenner-courses .text-courses h2{
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: Montserrat,sans-serif;

}

.contenner-courses .grid-container{
  padding: 50px 200px;
  display: grid;
  margin-top: 20px;
  grid-template-columns: auto auto auto auto;
  background-color: #F2F3F5;
  z-index: -50;
  padding-bottom: 80px;
}

.contenner-courses .grid-container > div{
  text-align: center;
  padding: 10px;
  width: 300px;
  margin: 10px;
  background: #ffffff;
  border-radius: 6px;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
  &:hover{
    transform: scale(1.1);
  }
}
.contenner-courses .grid-container > div a{
  color: #003359;
  text-decoration: none;
  margin: 20px 0;
  font-family: Montserrat,sans-serif;

}

.contenner-courses .grid-container > div img{
  width: 280px;
  height: 200px;
  padding-bottom: 10px;
}

//form login
.wrapper_login {
  background-size: cover;
  background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)),
  url(https://img4.thuthuatphanmem.vn/uploads/2020/05/13/anh-nen-4k-anime_062606240.jpg);
  min-height: 880px;
}


.login_form{
  padding: 30px;
  background-color:#ffffff;
  border: solid 1px;
  width: 420px;
  min-height: 200px;
  padding-bottom: 40px;
  font-size: 14px;
  border-radius: 15px;
  position: relative;
  left: 700px;
  top: 100px;
}

.login_form h2{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.login_form .field{
  width: 100%;
}

.login_form .field input{
  width: 350px;
  background-color: rgb(221, 230, 250);
  height: 35px;
  padding: 12px;
  border-radius: 15px;
  border: none;
  margin: 8px 0px;
}

.login_form .sign_up input{
  width: 350px;
  color: #ffffff;
  background-color: rgba(56,123,254,1);
  height: 35px;
  border: none;
  border-radius: 10px;
  margin: 20px 0px;
  font-size: 16px;
  &:hover{
    background-color: #cc2525;
  }
}
