.header-background{
  background-color: #013a66;
  height: 80px;
}

.w-100 {
    width: 100%!important;
    margin-top: -1px;
}

.header-logo{
  font-weight: bold;
  font-size: 25px;
  word-spacing: 30px;
  width: 44px;
  letter-spacing: 3px;
  color: #ffffff;
  transition: width 0.75s;
  transition-timing-function: linear;
  overflow: hidden;
  text-overflow: "----";
  &:hover{
    width: 180px;
    color: rgb(190, 34, 34);
  }
}

.btn-search {
  color:#fff;
  background-color: #013a66;
  padding: 0 10px;
  border-radius: 5px;
  border-color: #fff;
  &:hover {
    background-color: rgb(207, 40, 40);
  }
}

.li-link a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  &:hover {
    color: rgb(173, 173, 173);
  }
}

.login a {
  text-decoration: none;
  color: black;
  padding-left: 20px;
  &:hover{
    color: #0d6efd;
  }
}
.logout a {
  text-decoration: none;
  color: black;
  &:hover{
    color: #0d6efd;
  }
}

.navbar-brand {
  margin-left: 50px;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-expand-lg .navbar-collapse{
  padding: 0 110px;
}
.d-flex {
  height: 35px;
}

.dropdown{
  margin-left: 30px;

}
.dropdown .menu-collor {
  border-radius: 5px;
  padding: 4px 16px;
  border: 1px solid #ffffff;
  color: #ffff;
  &:hover{
    background: #198754;
    color: white;
  }
}


.dropdown-box{
  background-color: rgb(82, 94, 58);
}

//contenner
.contenner-courses{
  width: 100%;
}
.contenner-courses .text-courses{
  text-align: center;
  padding: 10px  0;
   color: #003359;
}
.contenner-courses .text-courses h2{
  margin: 20px 0px;
  font-family: Montserrat,sans-serif;

}

.grid-container {

}

.contenner-courses .grid-container{
  padding: 0% 100px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.contenner-courses .grid-container > div{
  text-align: center;
  padding: 10px;
  width: 300px;
  margin: 10px;
}
.contenner-courses .grid-container > div a{
  padding-top: 15px;
  color: #003359;
  text-decoration: none;
  margin: 20px 0;
  font-family: Montserrat,sans-serif;

}

.contenner-courses .grid-container > div img{
  width: 300px;
  height: 160px;
  padding-bottom: 10px;
}
//form login
.login-box {
  position: absolute;
  background-color: rgb(49, 49, 49);
  padding: 20px;
  width: 500px;
  left: 37%;
  top:18%;
}

.login-box form {
  margin-left: 15px;
  text-align: center;
}

.login-box h1 {
  color: #ffffff;
  text-align: center;
}

.login-box .field-1 {
  width: 100%;
}


.login-box .field-1 label {
  padding: 10px;
  color: #ffffff;
  position: relative;
  left: -27%;

}

.login-box .field-1 input {
  padding: 5px;
  border: none;
  border-bottom: 2px solid #fff ;
  outline: none;
  background: transparent;
  width: 70%;
}


.actions input {
  padding: 6px 30px;
  background-color: rgb(49, 49, 49);
  border-radius: 5px;
  border: 1px solid;
  color: #ffffff;
  width: 71%;
  margin-right: 7px;
  &:hover{
    background-color: rgb(238, 56, 56);
  }
}

.login-box .social-buttons {
  text-align: center;
}

.login-box .social-buttons .facebook {
  background-color: rgb(49, 49, 49);
  width: 70%;
  font-size: 20px;
  border-radius: 6px;
  margin-top: 20px;
  height: 35px;
  border: 1px solid;
  color: #ffffff;
  position: relative;
  left: 14%;
  &:hover {
    background-color: #385898;
    color: #fff;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
}

.login-box .social-buttons .google {
   background-color:  rgb(49, 49, 49);
  width: 70%;
  font-size: 20px;
  border-radius: 6px;
  border: 1px solid;
  color: #ffffff;
  margin-top: 20px;
  height: 35px;
  position: relative;
  left: 14%;
  margin-bottom: 15px;
  &:hover {
    background-color: #da3b5e;
    color: #fff;
  }
  a{
    text-decoration: none;
    color: #ffffff;
  }
}
