.header-background{
  background-color: rgb(163, 178, 196);
  height: 80px;
}

.navbar-brand {
  margin-left: 50px;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-expand-lg .navbar-collapse{
  padding: 0 110px;
}
.d-flex {
  height: 35px;
}

.dropdown{
  margin-left: 30px;
}

.dropdown-box{
  background-color: rgb(82, 94, 58);
}

//contenner
.contenner-courses{
  width: 100%;
}
.contenner-courses .text-courses{
  text-align: center;
  padding: 10px  0;
   color: #003359;
}
.contenner-courses .text-courses h2{
  margin: 20px 0px;
  font-family: Montserrat,sans-serif;

}

.contenner-courses .grid-container{
  padding: 0% 100px;
  margin: 0% 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.contenner-courses .grid-container > div{
  text-align: center;
  padding: 10px;
  width: 300px;
  margin: 10px;
}
.contenner-courses .grid-container > div a{
  padding-top: 15px;
  color: #003359;
  text-decoration: none;
  margin: 20px 0;
  font-family: Montserrat,sans-serif;
}

.contenner-courses .grid-container > div img{
  width: 300px;
  height: 160px;
  padding-bottom: 10px;
}
