.form-word {
  padding: 20px 50px;
  display: inline-block;
  width: 80%;
}
.form-word .questions {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  column-count: 2;
}
.form-word .answers {
}
