
<nav class="navbar navbar-expand-lg navbar-light header-background">
  <div class="container-fluid">
    <a class="navbar-brand " href="http://localhost:3000">
    <div class="header-logo">Ezi-learning</div></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item li-link">
          <a class="gioi-thieu" aria-current="page" href="#">Gới Thiệu</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class=" btn-search" type="submit">Search</button>
      </form>

      <div class="dropdown ">
        <a class="btn menu-collor dropdown-toggle " role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
         <i class="fas fa-user"></i>
        </a>

        <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
          <% if user_signed_in? %>
            <li><a class="dropdown-item" href="#">Profile </a></li>
            <li class="dropdown-item logout"><%= link_to(destroy_user_session_path, method: :delete) do %>
                <span>Log out</span>
                  <% end %>
            </li>
            <% else %>
            <div class="login">
              <%= link_to(new_user_session_path) do %>
                <span>Login</span>

              <% end %>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
